<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/static/transition.js"></script>
    <script src="/static/darkmode.js"></script>

</head>
<body>
    <header>
        <h1 class="logo"><img class="pp_logo" src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo"> Bienvenue à La Casse-Crouterie</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/menu">Le Menu</a>
            <a href="/reservation">Réservation</a>
            <a href="/commande">Commande</a>
            <a href="/contact">Contact</a>
            {% if user %}
                <a href="/logout">Déconnexion</a>
            {% else %}
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            {% endif %}
        </nav>
        <button id="darkModeToggle">🌙</button>
    </header>
    <h1>Contactez-nous</h1>
    <form method="POST">
        <input type="text" name="nom" placeholder="Votre Nom" required>
        <input type="email" name="email" placeholder="Votre Email" required>
        <textarea name="message" placeholder="Votre Message" required></textarea>
        <button type="submit">Envoyer</button>
        <h6>le formulaire n'est pas terminer mais faut pas dire ;)</h6>
    </form>
    <h2>Déposez un avis</h2>
    <form action="/ajouter_avis" method="POST">
        <input type="text" name="nom" placeholder="Votre Nom">
        <textarea name="commentaire" placeholder="Votre avis" required></textarea>
        <button type="submit">Laisser un avis</button>
    </form>
</body>
</html>