<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - La Casse-Crouterie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/static/transition.js"></script>
    <script src="/static/darkmode.js"></script>

</head>
<body>
    <header>
        <h1 class="logo"><img class="pp_logo" src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo"> Bienvenue à La Casse-Crouterie</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/menu">Le Menu</a>
            <a href="/reservation">Réservation</a>
            <a href="/commande">Commande</a>
            <a href="/contact">Contact</a>
            {% if user %}
                <a href="/logout">Déconnexion</a>
            {% else %}
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            {% endif %}
        </nav>
        <button id="darkModeToggle">🌙</button>
    </header>
    <main>
        {% if user %}
            <p>Bienvenue, {{ user }} !</p>
            <h2>Historique de vos commandes</h2>
            {% if orders %}
                <ul>
                    {% for order in orders %}
                        <li> <a href="{{ url_for('confirmation', order_id=order.id) }}"> Commande : {% for plat in order.plats %} {{ plat }}{% if not loop.last %}, {% endif %} {% endfor %} — Total : {{ order.total }}€ </a> </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucune commande passée pour le moment.</p>
            {% endif %}
        {% else %}
            <p>Connectez-vous pour passer des commandes et faire des réservations</p>
        {% endif %}

        {% if user %}
            <h2>Vos réservations</h2>
            {% if reservations %}
                <ul>
                    {% for reservation in reservations %}
                        <li>
                            Réservation pour {{ reservation.personnes }} personnes le {{ reservation.date }} à {{ reservation.heure }} (Nom : {{ reservation.nom }})
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>Aucune réservation pour le moment.</p>
            {% endif %}
        {% endif %}


        <h2>Avis des clients</h2>
        <div class="avis-container">
            {% for avis in avis_list %}
                <div class="avis">
                    <p><strong>{{ avis.nom }}</strong>: {{ avis.message }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
