<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <main>
        <h1>Connexion</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
        {% if error_message %}
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: '{{ error_message }}'
            });
        </script>
        {% endif %}
        <p>Pas encore de compte ? <a href="{{ url_for('register') }}">Inscrivez-vous</a></p>
    </main>
    
</body>
</html>