<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Déconnexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/static/transition.js"></script>
    <script src="/static/darkmode.js"></script>

</head>
<body>
    <header>
        <h1 class="logo"><img class="pp_logo" src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo"> Bienvenue à La Casse-Crouterie</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/menu">Le Menu</a>
            <a href="/reservation">Réservation</a>
            <a href="/commande">Commande</a>
            <a href="/contact">Contact</a>
            {% if user %}
                <a href="/logout">Déconnexion</a>
            {% else %}
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            {% endif %}
        </nav>
        <button id="darkModeToggle">🌙</button>
    </header>
    <h1>Vous êtes déconnecté</h1>
    <p><a href="{{ url_for('login') }}">Se reconnecter</a></p>
    <p><a href="{{ url_for('index') }}">Retour à l'accueil</a></p>
</body>
</html>
