<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ plat.name }} - Détails</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/static/transition.js"></script>
    <script src="/static/darkmode.js"></script>

</head>
<body>
    <header>
        <h1 class="logo"><img class="pp_logo" src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo"> Bienvenue à La Casse-Crouterie</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/menu">Le Menu</a>
            <a href="/reservation">Réservation</a>
            <a href="/commande">Commande</a>
            <a href="/contact">Contact</a>
            {% if user %}
                <a href="/logout">Déconnexion</a>
            {% else %}
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            {% endif %}
        </nav>
        <button id="darkModeToggle">🌙</button>
    </header>
    <h1>{{ plat.name }}</h1>
    <img src="{{ url_for('static', filename='detail/' + plat.name + '.jpg') }}" alt="Image de {{ plat.name }}" style="max-width: 300px; height: auto;">
    <p>Prix : {{ plat.price }}€</p>
    <p>Description : {{ plat.description }}</p>
    <a href="{{ url_for('afficher_menu') }}">Retour au menu</a>
</body>
</html>