<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/transition.js"></script>
    <script src="/static/darkmode.js"></script>

</head>
<body>
    <header>
        <h1 class="logo"><img class="pp_logo" src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo"> Bienvenue à La Casse-Crouterie</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/menu">Le Menu</a>
            <a href="/reservation">Réservation</a>
            <a href="/commande">Commande</a>
            <a href="/contact">Contact</a>
            {% if user %}
                <a href="/logout">Déconnexion</a>
            {% else %}
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            {% endif %}
        </nav>
        <button id="darkModeToggle">🌙</button>
    </header>
    <main>
        <h1>Inscription</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">S'inscrire</button>
        </form>
        {% if error_message %}
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: '{{ error_message }}'
            });
        </script>
        {% endif %}
        <p>Déjà un compte ? <a href="{{ url_for('login') }}">Connectez-vous</a></p>
    </main>
</body>
</html>